# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native build
ios/
android/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# Debug / env
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.local
.env.*.local
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

